@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --background: #111212;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    @keyframes gradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
    .animate-gradient-text {
        background-size: 200% 200%;
        animation: gradient 3s ease infinite;
    }
}
